
        h1{
            size: 24px;
        }
        body{
            background-color: lavender 
        }
        a{
            color: rgb(53, 7, 236);
        }
        a:visited{
            color:rgb(70, 43, 226);
        }